
:root {

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: .5s;
}


body {
    font-family: "Poppins", sans-serif;
    display: flex;

    .unscrollable-bg {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: bg-grad 15s ease infinite;

        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: absolute;
        z-index: -999;
    }
    
}

.choose-lang {
    position: absolute;
    display: flex;
    flex-wrap: row;

    .lang {
        padding: .3em;
        text-shadow: 0 0 1px black;
    }
}

.choose-sector {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    
    .sector {
        margin: 1em auto;
        padding: 1em;

        height: min-content;
        max-width: 80%;
        
        border: 2px solid white;
        border-radius: .4em;
        
        text-align: center;
        box-shadow: .1em .1em 1em black;
        
        .sector-name {
            text-shadow: 1px 1px black;
        }
        .sector-desc {
            text-shadow: 1px 1px black;
        }

        transition: .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}



@keyframes bg-grad {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
